.container
  .bcard
    .inside
      %h1 
        Sashko
        %br
        Stubailo

      .email sashko@mit.edu

      %hr

      %ul.infos
        %li MIT class of 2014
        %li
          UI, Algorithms, 
          %br
          Web Development
        %li Java, Ruby, Python

  %ul.links
    %li
      %a{href: "http://stubailo.wordpress.com", style: "color: #b3202a"} blog
    %li
      %a{href: "http://facebook.com/sashko", style: "color: #0000cf"} facebook
    %li
      %a{href: "https://github.com/stubailo", style: "color: #a600cf"} github
    %li
      %a{href: "http://www.linkedin.com/profile/view?id=49718206&trk=tab_pro", style: "color: #4b6e3d"} linkedin
    %li
      %a{href: "http://soundcloud.com/dj-stubbs", style: "color: #d96e3d"} soundcloud
  .shadow
    &nbsp;

